extends layout

include _includes/sharedHTMLfunctions


block content
	.row.page-header
		.row
		.col-lg-6
			h1!= pageHeader.title
				small &nbsp; #{pageHeader.strapline}
	.row
		.col-md-6.col-sm-12
			p
				a(href='/')
					img(src='/images/images/signin-twitter.png')
			p
				a(href='/')
					img(src='/images/images/signin-facebook.png')
		
